*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.3 linear;
}
body{
    height: 200vh;
}

/*start header styling */
header {
    width: 100%;
    position: fixed;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s linear;
    z-index: 1000;
}

header h1 a{
    font-size: 1.2em;
    font-weight: bold; 
    letter-spacing:1px;
    padding:2px 5px;
    color: #EEFBFB;
    text-decoration: none;
    border-left: 5px solid #FFDf6C;

}
header  ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
}
header  ul li:hover{
    background-color:#707070 ; 
}

header ul li a {    
    text-decoration: none;
    color: #EEFBFB;
}
header ul li:nth-of-type(1) a{
    color: #FFDf6C;
}
.haderScroll{
    background-color: #202020;
    padding: 10px 100px;
}
#toggle{
  position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s linear;
    border: 2px solid #ddd;
}

.haderScroll h1 a{
    color:#EEFBFB;
}
.haderScroll ul li a {    
    text-decoration: none;
    color: #EEFBFB;
}
@media (max-width:767px){
    header{
        padding:10px 20px;
    }
    .haderScroll{
        background-color: #202020;
        padding:7px 20px;
    }
}
@media (min-width:768px) and (max-width:991px){

}
@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:1200px){

}
/*end header styling*/

/*********************************************************************************/

/*start Home page styling */
#homePage{
    margin: 0px;
    height: 100vh;
    background-image: url("./img/homeBak.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.over{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #202020;
    opacity: 0.6;
}
#main{
    position: absolute;
    top:40%;
    left: 80px;
    width: 60%;
    line-height: 3em;
    color: #EEFBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
}
#main h2,p {
    color: #707070;
}
#main h2 span{
    color: #EEFBFB;
    font-size: 2em;
    margin: 10px;
}
#main a{
    margin: 50px 30px;
    text-decoration: none;
    color: #FFDf6C;
    padding: 7px;
    border: 1px solid #FFDf6C;
    border-radius: 1%;
}

@media (max-width:767px){
    #homeBage{
        height: 85vh;
    }
    #main{
        flex-direction: column;
        top: 20%;
        margin:0 auto;
    }
    #main h2 span{
        font-size: 1em;
    }
}
@media (min-width:768px) and (max-width:991px){

}
@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:1200px){

}
/*end home section styeing*/

/*********************************************************************************/

/*start about me section styling*/
#aboutMe{
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#aboutCon{
    flex: 600px 2 1;
    margin: 10px auto 0px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#aboutCon h2,p{
    margin: 15px 0px 0px 0px;
}
#aboutCon{
    color: #FFDf6C;
}
#aboutImg{
    flex: 40% 2 1;
    background-image: url("img/about.png");
    background-size: cover;
}
@media (max-width:767px){
    #aboutMe{
        height: 170vh;
        justify-content: flex-start;
    }
}
@media (min-width:768px) and (max-width:991px){

}
@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:1200px){

}
/*end about section style*/

/*********************************************************************************/

/*slart serveis section styling*/
#serveis{
    background-color: #3F3F3F;
}
#serveisCon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.oneSarveis{
    width: 340px;
    height: 340px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15%;
}
.oneSarveis i{
    font-size: 3em;
    color: #3F3F3F;
    margin: 20px ;
}
.oneSarveis h3,p{
    text-align: center;
    margin: 10px;
    color: #3F3F3F;
}
.oneSarveis a{
    margin: 20px;
    text-decoration: none;
    color: #FFDf6C;
    padding: 7px;
    border: 1px solid #FFDf6C;
    border-radius: 1%;
}
.oneSarveis:hover{
    background-color: #3F3F3F;
    box-shadow: 3px 3px 3px #ddd;
}
.oneSarveis:hover i{
    color: #fff;
}
.oneSarveis:hover h3{
    color: #fff;
}
.oneSarveis:hover p{
    color: #fff;
}

@media (max-width:767px){
    #serveisCon{
        justify-content: center;
    }
    .oneSarveis{
        margin: 20px;
    }
}
@media (min-width:768px) and (max-width:991px){

}
@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:1200px){

}
/*end serveis section styling*/


/*********************************************************************************/

/*start myProjsct section styling*/
#myPoject{
    height: 70vh;
}
#myProjsctCon{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.oneProject{
    width: 340px;
    flex: 340 3 1;
    background-color: #5a2727;
}

/*end myProjsct section styling*/

/*********************************************************************************/



/*slart serveis section styling*/
#ConectUs{
    background-color: #3F3F3F;
    height: 70vh;
}
/*end serveis section styling*/